<div class="page-signup center-box">
  <form name="form">
    <div class="md-form-group float-label">
      <input type="password" class="md-input" required="">
      <label>New password <span>*</span></label>
      <small class="form-text text-muted">Use at least one lowercase letter, one numeral and seven characters.</small>
    </div>
    <div class="md-form-group float-label">
      <input type="password" class="md-input" required="">
      <label>Confirm password <span>*</span></label>
      <small class="form-text text-muted">Use at least one lowercase letter, one numeral and seven characters.</small>
    </div>
    <div class="center-box-footer">
      <div>
        <button type="submit" class="btn primary btn-block btn-lg text-uppercase btn-signin">Reset password</button>
      </div>
      <div class="my-3 text-center">
        <a href="/auth/signin" title="Or sign up">Or sign in</a>
      </div>
    </div>
  </form>
</div>