<div class="page-forgot-password center-box">
  <form name="form">
    <div class="md-form-group float-label">
      <input type="email" class="md-input" required="">
      <label>Email Address <span>*</span></label>
      <small class="form-text text-muted">You occasionally receive account related emails. We promise not to share your email with anyone.</small>
    </div>
    <div class="center-box-footer">
      <div>
        <button type="submit" class="btn primary btn-block btn-lg text-uppercase btn-signin">Request password</button>
      </div>
      <div class="my-3 text-center">
        <a href="/auth/signin" title="Or sign up">Or sign in</a> | <a href="/auth/reset-password" title="Reset Password">Reset Password</a>
      </div>
    </div>
  </form>
</div>