<div class="page-forgot-password center-box" *blockUI>
  <form name="form" (ngSubmit)="f.form.valid && requestResetPassword()" #f="ngForm" novalidate>
    <div class="alert alert-danger" *ngIf="error">
      {{error}}
    </div>
    <div class="md-form-group float-label" [ngClass]="{ 'has-danger': f.submitted && !email.valid }">
      <input type="email" class="md-input" name="email" [(ngModel)]="model.username" #email="ngModel" required pattern="([a-z0-9!#$%&\'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&\'*+/=?^_`{|}~-]+)*@(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?)">
      <label>Email Address <span>*</span></label>
      <small class="form-text text-muted">You occasionally receive account related emails. We promise not to share your email with anyone.</small>
      <div *ngIf="f.submitted && email.errors">
        <div *ngIf="email.errors.required" class="form-control-feedback">Email is required</div>
        <div *ngIf="email.errors.pattern" class="form-control-feedback">Please enter valid email</div>
      </div>
    </div>
    <div class="center-box-footer">
      <div>
        <button type="submit" class="btn primary btn-block btn-lg text-uppercase btn-signin">Request password</button>
      </div>
      <div class="my-3 text-center">
        <a href="/auth/signin" title="Or sign up">Or sign in</a>
      </div>
    </div>
  </form>
</div>