.md-check {
    cursor: pointer;
    padding-left: 1.25rem;
    margin: 0;
    display: inline-block;
    position: relative;
    input {
        position: absolute;
        cursor: pointer;
        z-index: 1;
        opacity: 0;
        margin-left: -1.25rem;
        &:checked+i:before {
            border-width: 0;
            background-color: inherit;
        }
        &:checked+span .active {
            display: inherit;
        }
        &[type="radio"]+i {
            &,
            &:before {
                border-radius: 50%;
            }
        }
        &[type="checkbox"]+i:after,
        &[type="radio"]+i:after {
            @include rotate(45deg);
            position: absolute;
            left: 9px;
            top: 4px;
            display: table;
            width: 6px;
            height: 12px;
            border: 2px solid;
            border-top: 0;
            border-left: 0;
            content: ' ';
        }
        &[disabled],
        fieldset[disabled] & {
            &+i:before {
                opacity: 0.5;
            }
        }
        &[disabled]:checked {
            &+i:before {
                opacity: 0.5;
            }
        }
    }
    >i {
        width: 0;
        height: 24px;
        line-height: 1;
        margin-left: -20px;
        margin-top: 1px;
        float: left;
        display: inline-block;
        vertical-align: middle;
        margin-right: 28px;
        position: relative;
        &:before {
            content: "";
            position: absolute;
            width: 24px;
            height: 24px;
            border: 2px solid #e0e0e0;
            background: #e4e4e4;
            border-radius: 50%;
        }
        &.no-icon:after {
            display: none !important;
        }
    }
}