<div class="page-signup center-box" *blockUI>
  <form name="form" (ngSubmit)="f.form.valid && signup()" #f="ngForm" novalidate>
    <div class="alert alert-danger" *ngIf="error">
      {{error}}
    </div>
    <div class="md-form-group float-label" [ngClass]="{ 'has-danger': f.submitted && !username.valid }">
      <input type="text" class="md-input" name="username" [(ngModel)]="model.username" #username="ngModel" required pattern="^[a-zA-Z0-9]+(-[a-zA-Z0-9]+)*$">
      <label>Username <span>*</span></label>
      <small class="form-text text-muted">This will be your username - you can enter your organization's username next.</small>
      <div *ngIf="f.submitted && username.errors">
        <div *ngIf="username.errors.required" class="form-control-feedback">Username is required</div>
        <div *ngIf="username.errors.pattern" class="form-control-feedback">Please enter valid username</div>
      </div>
    </div>
    <div class="md-form-group float-label" [ngClass]="{ 'has-danger': f.submitted && !email.valid }">
      <input type="email" class="md-input" name="email" [(ngModel)]="model.email" #email="ngModel" required pattern="([a-z0-9!#$%&\'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&\'*+/=?^_`{|}~-]+)*@(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?)">
      <label>Email Address <span>*</span></label>
      <small class="form-text text-muted">You occasionally receive account related emails. We promise not to share your email with anyone.</small>
      <div *ngIf="f.submitted && email.errors">
        <div *ngIf="email.errors.required" class="form-control-feedback">Email is required</div>
        <div *ngIf="email.errors.pattern" class="form-control-feedback">Please enter valid email</div>
      </div>

    </div>
    <div class="md-form-group float-label" [ngClass]="{ 'has-danger': f.submitted && !password.valid }">
      <input type="password" class="md-input" name="password" [(ngModel)]="model.password" #password="ngModel" required pattern="^(?=.*[a-zA-Z])(?=.*\d)[A-Za-z\d][A-Za-z\d!@#$%^&*()_+]{7,20}$"
      />
      <label>Password <span>*</span></label>
      <small class="form-text text-muted">Use at least one lowercase letter, one numeral and seven characters.</small>
      <div *ngIf="f.submitted && password.errors">
        <div *ngIf="password.errors.required" class="form-control-feedback">Password is required</div>
        <div *ngIf="password.errors.pattern" class="form-control-feedback">Please enter valid password</div>
      </div>
    </div>
    <div class="md-form-group">
      <div style="margin: 0 auto;width: 304px;">
        <re-captcha [(ngModel)]="captchaResponse" #captcha="ngModel" name="captcha" required siteKey="6LdOyykUAAAAANxis4krcHI6b05T7tVMC6Elz8fH"
          (resolved)="resolved($event)"></re-captcha>
        <div *ngIf="f.submitted && captcha.errors">
          <div *ngIf="captcha.errors.required" class="form-control-feedback text-danger">Please select captcha.</div>
        </div>
      </div>
    </div>
    <div class="center-box-footer">
      <div>
        <button type="submit" class="btn primary btn-block btn-lg text-uppercase btn-signin">sign up</button>
      </div>
      <div class="my-3 text-center">
        <a href="{{appService.getSigninUrl()}}" title="Or sign up">Or sign in</a>
      </div>
    </div>
  </form>
</div>