.page-home {
    .page-heading {
        color: #545454;
        font-size: 21px;
        font-weight: bold;
        margin-bottom: 10px;
    }
    .list-container {
        @media (min-width: 480px) {
            border-left: 1px solid #e4e4e4;
            padding-left: 38px;
        }
        .list {
            &.package-list {
                .list-item {
                    padding: 25px 12px;
                    h5 {
                        >a {
                            color: #282828;
                        }
                    }
                }
            }
        }
    }
    .btn-wrapper {
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        .btn-filter {
            border-radius: 0;
            border: 0;
            background: #28292b;
            cursor: pointer;
        }
    }
}