<div class="page-signin center-box">
  <form name="form" (ngSubmit)="f.form.valid && signin()" #f="ngForm" novalidate>
    <div class="alert alert-danger" *ngIf="error">
      {{error}}
    </div>
    <div class="md-form-group float-label" [ngClass]="{ 'has-danger': f.submitted && !username.valid }">
      <input type="email" class="md-input" name="username" [(ngModel)]="model.username" #username="ngModel" required>
      <label>Email <span>*</span></label>
      <div *ngIf="f.submitted && !username.valid" class="form-control-feedback">Username is required</div>
    </div>
    <div class="md-form-group float-label" [ngClass]="{ 'has-danger': f.submitted && !password.valid }">
      <input type="password" class="md-input" name="password" [(ngModel)]="model.password" #password="ngModel" required>
      <label>Password <span>*</span></label>
      <div *ngIf="f.submitted && !password.valid" class="form-control-feedback">Password is required</div>
    </div>
    <div class="my-md">
      <div class="row">
        <div class="col-xs-6 col-sm-6">
          <label class="md-check">
        <input type="checkbox" class="has-value"><i class="primary"></i> <small>Remember me</small>
      </label>
        </div>
        <div class="col-xs-6 col-sm-6 text-right">
          <a href="/auth/forgot-password" class="small" title="Forget your password?">Forget your password?</a>
        </div>
      </div>
    </div>

    <div class="center-box-footer">
      <div>
        <button type="submit" class="btn primary btn-block btn-lg text-uppercase btn-signin">sign in</button>
      </div>

      <div class="my-3 text-center">
        <a href="/auth/signup" title="Or sign up">Or sign up</a>
      </div>
    </div>
  </form>
</div>