<header class="app-header" [ngClass]="{'center-layout': appState.get('layout') === 'center'}">
  <div class="container" *ngIf="appState.get('layout') === 'center'">
    <div class="row justify-content-md-center">
      <div class="col-12 col-md-auto">
        <div class="logo">
          <a href="/" class="fnHub"><img src="/assets/img/logo.png">FnHub.io</a>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid" *ngIf="appState.get('layout') !== 'center'">
    <div class="row">
      <div class="col col-lg-2 col-sm-2 logo-wrapper">
        <div class="logo">
          <a href="/" class="fnHub">
            <img src="/assets/img/logo.desktop.png">
              <!--img src="/assets/img/logo.desktop.png" class="hidden-xs-down">
              <img src="/assets/img/logo_mobile.png" class="hidden-sm-up" -->
              </a>
        </div>
      </div>
      <div class="col">
        <div class="nav-wrapper">
          <div class="row">
            <div class="col hidden-xs-down">
              <div class="row justify-content-md-center">
                <div class="col-12 col-md-auto">
                  <top-menu [containerClass]="''"></top-menu>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="row search-wrapper">
                <div class="col">
                  <app-search-module></app-search-module>
                </div>
                <div class="col bar hidden-sm-up" (click)="open(content)"><i class="fa text-primary fa-bars"></i></div>
              </div>
            </div>
            <div class="col col-lg-3 hidden-xs-down">
              <top-right-menu [containerClass]="'pull-right'"></top-right-menu>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>