.page-features {
    .features-banner {
        max-width: 700px;
        padding-bottom: 100px;
    }
    .page-features-wrapper {
        background: $white;
        @media (max-width: 768px) {
            text-align: center;
        }
        .section {
            margin-left: -15px;
            margin-right: -15px;
            padding: rem(70);
            @media (max-width: 768px) {
                padding-left: 15px;
                padding-right: 15px;
            }
            .section-header {
                text-align: center;
                margin-bottom: rem(60);
                .heading {}
                .description {}
            }
            .section-body {
                @media (max-width: 768px) {
                    .row {
                        div[class^="col-"] {
                            text-align: center;
                            margin-bottom: rem(16);
                            &:last-child {
                                margin-bottom: 0;
                            }
                        }
                    }
                }
            }
        }
    }
}