.app,
.app-content,
.app-header,
.app-body,
.app-footer {
    position: relative;
    margin: 0;
}

.app-header {
    position: relative; //background: #28292b;
    padding: 20px 50px;
    .logo {
        padding: 28px 0;
        .fnHub {
            color: $white;
            font-size: 40px;
            font-weight: 300;
            line-height: 0.6;
            text-decoration: none;
            >img {
                margin-right: 15px;
            }
        }
    }
    .nav-wrapper {
      font-weight: 300;
        padding: 12px 0;
        .nav-left{
          max-width: 390px;
        }
        .nav-right{
          max-width: 300px;
        }
    }
    .logo-wrapper {
        max-width: 87px;
    }
    @media (max-width: 480px) {
        height: 100px;
        padding: 0;
        .logo-wrapper {
            max-width: 87px;
        }
    }
    .bar {
        max-width: 40px;
        padding: 0;
        font-size: 23px;
        line-height: 50px;
        >i {
            cursor: pointer;
        }
    }
    .nav {
        margin-top: 19px;
    }
    &.center-layout {
        padding-top: 110px;
        .logo {
            padding: 0;
        }
        .justify-content-md-center {
            text-align: center;
            justify-content: center!important;
        }
    }
    .main-nav {
        >.nav-link {
            color: $white;
        }
    }
    .right-nav {
        .nav-link {
            text-transform: uppercase;
            cursor: pointer;
        }
    }
    .search-wrapper {
        max-width: 680px;
        margin: 0 auto;
        margin-top: 12px;
    }
}

.app-body {
    padding-top: 35px;
    padding-bottom: 35px;
}