@import url('https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i&subset=latin-ext');
@import 'variables.scss';
@import 'mixins.scss';
@import 'material/variables.md.scss';
@import 'node_modules/bootstrap/scss/bootstrap.scss';
@import 'material/md.scss';
@import 'ui.list.scss';
@import "utils/utils.scss";

@import "header.scss";
@import "module-search.scss";
@import "syntax-highlight.scss";
@import "modal-sidebar.scss";
//set .container width to 1490 on larger devices
@media (min-width: 1200px) {
    .container {
        width: 1490px;
        max-width: 100%;
        .page-content{
          margin-right: 40px;
        }
    }
}

span,
div {
    font-size: $font-size-base;
}

button,
input,
optgroup,
select,
textarea {
    font-family: $font-family-sans-serif;
}

.primary {
    background: $brand-primary;
    color: $dark-white;
}

.btn {
    &.btn-lg {
        @include border-radius(25px);
    }
}

.search-input {
    border: 0 none;
    padding: 6px;
    height: 50px;
    border-radius: 25px;
    background-color: #141414;
    .form-control {
        background: none;
        box-shadow: none;
        border: 0 none;
        padding: 12px 35px;
         @media (max-width: 480px) {
          padding: 12px 8px;
         }
        color: $dark-white;
        font-style: italic;
        font-size: 1.5rem;
        font-weight: 100;
        &:active,
        &:focus {
            outline: none;
            box-shadow: none;
        }
    }
    .input-group-btn {
        @include border-radius(50%);
        width: 40px;
        height: 40px;
        padding: 12px;
        background: $primary;
        font-size: $font-size-lg;
        color: $dark-white;
    }
}

.center-box {
    border-radius: 10px;
    background-color: #ffffff;
    box-shadow: 0px 4px 27px 0 rgba(0, 0, 0, 0.25);
    height: auto;
    margin: 0 auto;
    margin-top: -100px;
    max-width: 500px;
    position: relative;
    padding: 66px 57px;
    .center-box-footer {
        margin-top: 50px;
        position: relative;
    }
}

.sidebar {
    @media (min-width: 768px) {
        padding-left: 30px;
        padding-right: 30px;
    }
    .sidebar-item {
        margin-bottom: 30px;
        .sidebar-item-heading {
            text-transform: uppercase;
            color: #777777;
            font-weight: 400;
            line-height: 1.69;
            margin-bottom: 12px;
            font-size: 13px;
        }
        .nav {
            >.nav-item {
                >.nav-link {
                    color: $black;
                    font-weight: 600;
                }
            }
        }
    }
    &.with-border {
        border-left: 1px solid #e4e4e4;
        padding: 10px 15px;
        max-width: auto;
        .sidebar-item {
            border-bottom: 1px solid #e4e4e4;
            margin-bottom: 15px;
            &:last-child {
                border-bottom: 0 none;
            }
        }
    }
}

/** inject modules scss */
