@import url('https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i&subset=latin-ext');
@import 'variables.scss';
@import 'mixins.scss';
@import 'material/variables.md.scss';
@import 'node_modules/bootstrap/scss/bootstrap.scss';
@import 'material/md.scss';
@import 'ui.list.scss';
@import "utils/utils.scss";
@import "header.scss";
@import "module-search.scss";
@import "syntax-highlight.scss";
@import "modal-sidebar.scss";
@import "feature.scss";
@import "loader.scss";
html {
    @media (max-width: 768px) {
        font-size: rem(14);
    }
}

body {
    &.bg-pattern {
        background: url('/assets/img/bg-large.jpg') no-repeat top center fixed;
        @include media-breakpoint-down(xs) {
            background: url('/assets/img/bg-xs.jpg') no-repeat top center fixed;
        }
        @include media-breakpoint-between(xs,sm) {
            background: url('/assets/img/bg-small.jpg') no-repeat top center fixed;
        }
        @include media-breakpoint-between(sm,md) {
            background: url('/assets/img/bg-medium.jpg') no-repeat top center fixed;
        }
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        .app-header {
            background: none !important;
        }
    }
    &.bg-none {
        .app-header {
            background: url('/assets/img/header-bg.jpg');
            background-repeat: no-repeat;
            background-position: top center;
            background-attachment: fixed;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
        }
    }
}

//set .container width to 1490 on larger devices
@media (min-width: 1200px) {
    .container {
        width: 1280px;
        max-width: 100%;
        .page-content {
            margin-right: 40px;
        }
    }
}

span,
div {
    font-size: $font-size-base;
}

button,
input,
optgroup,
select,
textarea {
    font-family: $font-family-sans-serif;
}

h1,
.h1 {
    font-size: rem(45)
}

h2,
.h2 {
    font-size: rem(40);
}

.primary {
    background: $primary;
    color: $dark-white;
}

.bg-white {
    background: $white;
}

.btn {
    cursor: pointer;
    @include border-radius(5px);
    &.disabled,
    &:disabled {
        cursor: not-allowed;
    }
}

.btn-brand {
    @include button-variant($white,
    $primary,
    $primary);
}

// Remove all backgrounds
.btn-outline-brand {
    @include button-outline-variant($primary);
}

hr {
    border: 0;
    height: 1px;
    background-image: -webkit-linear-gradient(left, #f0f0f0, #dbdbdb, #f0f0f0);
    background-image: -moz-linear-gradient(left, #f0f0f0, #dbdbdb, #f0f0f0);
    background-image: -ms-linear-gradient(left, #f0f0f0, #dbdbdb, #f0f0f0);
    background-image: -o-linear-gradient(left, #f0f0f0, #dbdbdb, #f0f0f0);
    &.large {
        margin-top: 4rem;
        margin-bottom: 4rem;
    }
    &.small {
        margin-top: 2rem;
        margin-bottom: 2rem;
    }
}

.search-input {
    border: 0 none;
    padding: 6px;
    height: 50px;
    border-radius: 5px;
    background-color: #7b5180;
    .form-control {
        background: none;
        box-shadow: none;
        border: 0 none;
        padding: 12px 35px;
        @media (max-width: 480px) {
            padding: 12px 8px;
        }
        color: $white;
        font-size: 1.5rem;
        font-weight: 100;
        &:active,
        &:focus {
            outline: none;
            box-shadow: none;
        }
        &::-webkit-input-placeholder {
            /* Chrome/Opera/Safari */
            color: $white;
        }
    }
    .input-group-btn {
        padding: 12px;
        color: $brand-primary;
        font-size: $font-size-lg;
    }
}

.center-box {
    border-radius: 10px;
    background-color: #ffffff;
    box-shadow: 0px 4px 27px 0 rgba(0, 0, 0, 0.25);
    height: auto;
    margin: 0 auto;
    max-width: 500px;
    position: relative;
    padding: 66px 57px;
    .center-box-footer {
        margin-top: 50px;
        position: relative;
    }
}

.sidebar {
    .sidebar-item {
        margin-bottom: 30px;
        .sidebar-item-heading {
            text-transform: uppercase;
            color: #777777;
            font-weight: 400;
            line-height: 1.69;
            margin-bottom: 12px;
            font-size: 13px;
        }
        .nav {
            >.nav-item {
                >.nav-link {
                    color: $black;
                    font-weight: 600;
                }
            }
        }
    }
    &.with-border {
        border-left: 1px solid #e4e4e4;
        padding: 10px 15px;
        max-width: auto;
        .sidebar-item {
            border-bottom: 1px solid #e4e4e4;
            margin-bottom: 15px;
            &:last-child {
                border-bottom: 0 none;
            }
        }
    }
}


/** inject modules scss */