$body-bg: #fff;
$brand-primary: #fb7e14;
$primary: $brand-primary;
$gray-dark: #28292b;
$gray-light: #5e5d5d;
$dark-white: $body-bg;
$border-radius-base: 12px;
$border-color-lt: #e4e4e4;
$border-color: $border-color-lt;
$light :$border-color;
$black: #141414;
$font-family-sans-serif: 'Lato',-apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif !default;