<div class="app">
  <div class="app-content">
    <header class="app-header single-layout">
      <div class="container" *ngIf="false">
        <div class="row justify-content-md-center">
          <div class="col-12 col-md-auto">
            <div class="logo">
              <a routerLink="/" class="fnHub"><img src="/assets/img/logo.png"></a>
            </div>
          </div>
        </div>
      </div>

      <div class="container-fluid" *ngIf="true">
        <div class="row">
          <div class="col col-lg-2 col-sm-2 logo-wrapper">
            <div class="logo">
              <a routerLink="/" class="fnHub">
              <img src="/assets/img/logo.png" class="hidden-xs-down">
              <img src="/assets/img/logo_mobile.png" class="hidden-sm-up">
              </a>
            </div>
          </div>
          <div class="col">
            <div class="nav-wrapper">
              <div class="row hidden-xs-down">
                <div class="col">
                  <div class="row justify-content-md-center">                
                    <div class="col-12 col-md-auto">
                      <nav class="nav main-nav">
                        <a class="nav-link" href="#">features</a>
                        <a class="nav-link" href="#">documentation</a>
                        <a class="nav-link" href="#">support</a>
                      </nav>
                    </div>
                  </div>
                </div>
                <div class="col col-lg-3">
                  <ul class="nav pull-right right-nav">
                    <li class="nav-item">
                      <a class="nav-link active" href="#">singup</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#">login</a>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="row search-wrapper">
                <div class="col">
                  <div class="input-group search-input">
                    <input type="text" class="form-control" placeholder="find packages">
                    <span class="input-group-btn">
                      <i class="fa fa-search"></i>
                  </span>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>


      <!--
      <a [routerLink]="['change-language', 'en']">English</a>
      <a [routerLink]="['change-language', 'fr']">french</a>
     -->
    </header>
    <div class="app-body">
      <router-outlet></router-outlet>
    </div>
    <div class="app-footer"></div>
  </div>
</div>